#!/usr/bin/bash

# zsh
alias zsource="source $ZDOTDIR/.zshrc"

# navigation
alias -g ...='../..'
alias -g ....='../../..'
alias -g .....='../../../..'
alias -g ......='../../../../..'
alias d='dirs -v'
for index ({1..9}) alias "$index"="cd +${index}"; unset index

# ls
alias ls='ls --color=auto'
alias l='ls -l'
alias ll='ls -lahF'
alias la='ls -a'

# file ops
alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -iv'

# git
alias gst='git status'

# editor
alias vi='vim'
alias vim='vim'

# python
alias ipy='workon ipy && python3 -m IPython'
alias workoff='deactivate'

# vmware - mount shared drive
##alias sharemount='sudo vmhgfs-fuse .host:{path_on_host} {path_on_guest} -o subtype=vmhgfs-fuse,allow_other'
